
# Leiningen related
/target
/classes
/checkouts
/.lein-*
/.nrepl-port
.hgignore
.hg/
.floo
.flooignore

# Java related
pom.xml.asc
*jar
*.class

# Temp Files
tmp/
*.orig
*~
.*.swp
.*.swo
*.tmp
*.bak
