<!DOCTYPE html>
<html lang="en">
  <body>
    <header>
      <h1 id="title">{{text}}</h1>
    </header>
    <div id="wrapper">
      {{body}}
    </div>
    <a href="/">sample link</a>
  </body>
</html>
